{% extends 'base.html' %}

{% block head %}
  <title>Hisaab: Customers</title>
  <style>
    .sidebar #customers {
      color: #2470dc;
    }
  </style>
{% endblock %}
  
{% block main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Outstanding Balances</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="downloadAsXLSX()">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" id="exportButton">Export</button>
      </div>
    </div>
  </div>
  <!-- Chart -->
  <div class="card mb-5 rounded-3 shadow-sm">
    <div class="card-body">
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </div>
  </div>
  <!-- Tables -->
  <h2>Unpaid Customers</h2>
  <!-- Show transactions -->
  <div class="mt-3 card mb-4 rounded-3 shadow-sm">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Customer Name</th>
              <th scope="col">Sale Date</th>
              <th scope="col">Product</th>
              <th scope="col">Qty</th>
              <th scope="col">Amount (INR)</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in unpaid_customers %}
            <tr>
              <td scope="col">{{customer['customer']}}</td>
              <td scope="col">{{customer['sale_date']}}</td>
              <td scope="col">{{customer['product']}}</td>
              <td scope="col">{{customer['sale_qty']}}</td>
              <td scope="col">{{customer['sale_amt']}}</td>
              <td scope="col">Unpaid</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <!-- For Chart -->
  <script>
    feather.replace({ 'aria-hidden': 'true' })
    // Parse the data embedded in the HTML template
    var data = JSON.parse('{{ data | tojson | safe }}');

    // Create the chart using Chart.js
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.labels,
            datasets: [{
                label: 'Customers',
                data: data.values,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
  </script>
{% endblock %}
