{% extends 'base.html' %}

{% block head %}
  <title>FinCheck: Wholesalers</title>
  <style>
    .sidebar #wholesalers {
      color: #2470dc;
    }
  </style>
{% endblock %}
  
{% block main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Wholesaler vs Credits</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="downloadAsXLSX()">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-earmark-spreadsheet-fill" viewBox="0 0 16 16">
            <path d="M6 12v-2h3v2H6z"/>
            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM3 9h10v1h-3v2h3v1h-3v2H9v-2H6v2H5v-2H3v-1h2v-2H3V9z"/>
          </svg>
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" id="exportButton">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-camera2" viewBox="0 0 16 16">
            <path d="M5 8c0-1.657 2.343-3 4-3V4a4 4 0 0 0-4 4z"/>
            <path d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.972 5.972 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1zM2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0zM14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Chart -->
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-body">
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </div>
  </div>
  <!-- Tables -->
  <h2>Wholesalers</h2>
  <!-- Add Wholesalers form -->
  <form class="mb-5 mt-4" action="/add_wholesaler" method="POST">
    <div class="mx-auto row">
      <div class="col-md-2">
        <input type="text" class="form-control" name="wname" placeholder="Wholesaler name">
      </div>
      <div class="col-md-2">
          <input type="text" class="form-control" name="wcontact" placeholder="Contact">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" name="waddress" placeholder="Address">
       </div>
      <div class="col-md-3">
        <button class="btn btn-success" type="submit">Add Wholesaler</button>
      </div>
    </div>
  </form>
  <!-- Show transactions -->
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col" class="d-none">Table ID</th>
              <th scope="col">ID</th>
              <th scope="col">Wholesaler</th>
              <th scope="col">Contact</th>
              <th scope="col">Address</th>
              <th scope="col">Onboarded</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for wholesaler in wholesalers %}
            <tr>
              <td scope="col" contenteditable="false" class="d-none">{{wholesaler['wid']}}</td>
              <td scope="col" contenteditable="false">{{loop.index}}</td>
              <td scope="col" contenteditable="false">{{wholesaler['wname']}}</td>
              <td scope="col" contenteditable="false">{{wholesaler['wcontact']}}</td>
              <td scope="col" contenteditable="false">{{wholesaler['waddress']}}</td>
              <td scope="col" contenteditable="false">{{wholesaler['onboarded']}}</td>
              <td>
                <a class="btn btn-outline-primary" href="" role="button" onclick="editRow(this)">Update</a>
                <a class="btn btn-outline-success d-none" href="" role="button" onclick="saveRow(this)">Save</a>
                <a class="btn btn-outline-danger" href="/wholesalers/{{wholesaler['wid']}}/delete" role="button">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <!-- For Chart -->
  <script>
    feather.replace({ 'aria-hidden': 'true' })
    // Parse the data embedded in the HTML template
    var data = JSON.parse('{{ data | tojson | safe }}');

    // Create the chart using Chart.js
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.labels,
            datasets: [{
                label: 'Credits',
                data: data.values,
                backgroundColor: 'rgba(150, 20, 20, 0.8)',
                borderColor: 'rgba(150, 20, 20, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
  </script>
  <script src="/static/js/wholesalers.js"></script>
{% endblock %}
